body{margin: 0;padding: 0;background-color: #fff;}
.margin-top-50px{margin-top: 50px!important;}
.margin-top-150px{margin-top: 150px!important;}
.margin-top-10px{margin-top: 10px!important;}
.margin-top-20px{margin-top: 20px!important;}
.padding-50px{padding: 50px!important;}
.bordered{border: 1px solid #f1f1f1;border-radius: 5px;}
.centers{text-align: center!important;}